{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="logo"><a href="{{ url_for('web.home') }}">AuthCheck v{{ app_version }}</a></div>
        <div class="left_open">
            <i title="Expand Left" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">{{ t('lang_toggle') }}: {{ t('lang_' + get_lang()) }}</a>
                <dl class="layui-nav-child">
                    <dd><a href="{{ url_for('web.set_lang', lang='zh', next=request.url) }}">{{ t('lang_zh') }}</a></dd>
                    <dd><a href="{{ url_for('web.set_lang', lang='en', next=request.url) }}">{{ t('lang_en') }}</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">{{ session['username'] }}</a>
                <dl class="layui-nav-child">
                    <dd><a href="{{ url_for('web.logout') }}">{{ t('nav_logout') }}</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item to-index"><a href="{{ url_for('web.home') }}">{{ t('nav_home') }}</a></li>
        </ul>
    </div>

    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                {# ── 1. 工作台 ── #}
                <li>
                    <a _href="{{ url_for('web.welcome') }}">
                        <i class="layui-icon layui-icon-home"></i>
                        <cite>工作台</cite>
                    </a>
                </li>

                {# ── 2. 项目 ── #}
                <li>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-template-1"></i>
                        <cite>项目</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li><a _href="{{ url_for('web.project_list') }}"><i class="iconfont">&#xe6a7;</i><cite>项目列表</cite></a></li>
                    </ul>
                </li>

                {# ── 3. 数据源 ── #}
                <li>
                    <a _href="{{ url_for('web.data_source_center') }}">
                        <i class="layui-icon layui-icon-transfer"></i>
                        <cite>数据源</cite>
                    </a>
                </li>

                {# ── 4. 全局执行记录 ── #}
                <li>
                    <a _href="{{ url_for('web.project_execution_center') }}">
                        <i class="layui-icon layui-icon-play"></i>
                        <cite>全局执行记录</cite>
                    </a>
                </li>

                {# ── 5. 漏洞中心 ── #}
                <li>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-vercode"></i>
                        <cite>漏洞中心</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li><a _href="{{ url_for('web.review_queue') }}"><i class="iconfont">&#xe6a7;</i><cite>复核队列</cite></a></li>
                        <li><a _href="{{ url_for('web.findings_list') }}"><i class="iconfont">&#xe6a7;</i><cite>漏洞发现</cite></a></li>
                    </ul>
                </li>

                {# ── 5.5 配置认证 ── #}
                <li>
                    <a _href="{{ url_for('web.auth_import_wizard') }}">
                        <i class="layui-icon layui-icon-key"></i>
                        <cite>配置认证</cite>
                    </a>
                </li>

                {# ── 6. 扩展与设置 ── #}
                {% if is_manager() %}
                <li>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>扩展与设置</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li><a _href="{{ url_for('web.sso_account') }}"><i class="iconfont">&#xe6a7;</i><cite>测试账号</cite></a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>Dashboard</li>
            </ul>
            <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                <dl>
                    <dd data-type="this">Close Current</dd>
                    <dd data-type="other">Close Others</dd>
                    <dd data-type="all">Close All</dd>
                </dl>
            </div>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="{{ url_for('web.welcome') }}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                </div>
            </div>
            <div id="tab_show"></div>
        </div>
    </div>
    <div class="page-content-bg"></div>

    <div class="footer">
        <div class="copyright">Copyright Security Team</div>
    </div>
{% endblock %}
