{% extends "layout.html" %}

{% block body %}
    <div class="x-body">
        <div class="layui-row">
            <form id="create_form" action="{{ url_for('web.version_list_web') }}" method="POST" class="layui-form layui-col-space5">
                <div class="layui-input-inline layui-show-xs-block"><input type="text" name="name" placeholder="{{ t('version_name') }}" class="layui-input"></div>
                <div class="layui-input-inline layui-show-xs-block"><input type="text" name="version" placeholder="{{ t('version_ver') }}" class="layui-input"></div>
                <div class="layui-input-inline layui-show-xs-block"><input type="text" name="base_url" placeholder="{{ t('version_base_url') }}" class="layui-input"></div>
                <div class="layui-input-inline layui-show-xs-block"><button class="layui-btn" type="submit">{{ t('common_create') }}</button></div>
            </form>
        </div>

        <input id="url" type="hidden" value="{{ url_for('web.version_list_web') }}">
        <table class="layui-table">
            <thead>
            <tr>
                <th>{{ t('version_name') }}</th>
                <th>{{ t('version_ver') }}</th>
                <th>{{ t('version_base_url') }}</th>
                <th>{{ t('common_time') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for row in hits %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.version }}</td>
                    <td>{{ row.base_url }}</td>
                    <td>{{ row.ctime }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="page">
            <div>
                {% if hit.per_page %}<span onclick="page_flush('{{ hit.per_page }}', '{{ size }}')" style="cursor:pointer" class="prev">&lt;&lt;</span>{% endif %}
                {% if hit.p_min %}<span onclick="page_flush('{{ hit.p_min }}', '{{ size }}')" style="cursor:pointer" class="num">{{ hit.p_min }}</span>{% endif %}
                {% if hit.per_ellipsis %}<span class="num" style="cursor: pointer"> ... </span>{% endif %}
                {% for p in hit.dic %}<span onclick="page_flush('{{ p }}', '{{ size }}')" {% if p == page %} class="current" {% else %} class="num" {% endif %} style="cursor: pointer">{{ p }}</span>{% endfor %}
                {% if hit.suf_ellipsis %}<span class="num" style="cursor: pointer"> ... </span>{% endif %}
                {% if hit.p_max %}<span onclick="page_flush('{{ hit.p_max }}', '{{ size }}')" style="cursor:pointer" class="num">{{ hit.p_max }}</span>{% endif %}
                {% if hit.next_page %}<span onclick="page_flush('{{ hit.next_page }}', '{{ size }}')" class="next" style="cursor:pointer">&gt;&gt;</span>{% endif %}
            </div>
        </div>
    </div>
    <script>
        function page_flush(page, size) {
            let url = $("#url").val() + "?page=" + page + "&size=" + size;
            window.location.href = url;
        }
    </script>
{% endblock %}
